<div class="container">
  <div class="upper-data">
    <div class="search" >
      <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search by City" name="cityName" [(ngModel)]="cityName">
      </form>
    </div>
    <img id="upper-data-img" src="../assets/pngwing.com.png" alt="cold weather" *ngIf="weatherResData.main.temp <= 20">
    <img id="upper-data-img" src="../assets/PngItem_791918.png" alt="hot weather" *ngIf="weatherResData.main.temp > 20">
    <div class="upper-data-info">
      <h3>Location - {{weatherResData?.name}}</h3>
      <h2>{{weatherResData?.main?.temp | number: '1.0-0'}} °C</h2>
    </div>
  </div>
  <hr>
  <div class="lower-data">
    <div class="lower-data-info">
      <h3>More Information</h3>
      <div class="row">
        <div class="col-md-6">
          <img src="" alt="min temp">
          <p>Min: {{weatherResData?.main?.temp_min | number: '1.0-0'}}°C</p>
        </div>
        <div class="col-md-6">
          <img src="" alt="max temp">
          <h4>Max: {{weatherResData?.main?.temp_max | number: '1.0-0'}}°C</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <img src="" alt="humidity">
          <h4>{{weatherResData?.main?.humidity | number: '1.0-0'}}%</h4>
        </div>
        <div class="col-md-6">
          <img src="" alt="wind">
          <h4>{{weatherResData?.wind?.speed}} Kn</h4>
        </div>
      </div>
    </div>
    
  </div>
</div>
<router-outlet></router-outlet>
